<%- include('../partials/header.ejs', { title: 'Account' }) %>
<%- include('../partials/navigation-start.ejs') %>

<main class="account">
    account page
</main>

<%- include('../partials/navigation-end.ejs') %>
<%- include('../partials/footer.ejs') %>
