<%- include('../partials/header.ejs', { title: 'Support' }) %>
<%- include('../partials/navigation-start.ejs') %>

<main class="support">
    support page
</main>

<%- include('../partials/navigation-end.ejs') %>
<%- include('../partials/footer.ejs') %>
