<%- include('../partials/header.ejs', { title: 'Updates and Help' }) %>
<%- include('../partials/navigation-start.ejs') %>

<main class="updates">
    updates page
</main>

<%- include('../partials/navigation-end.ejs') %>
<%- include('../partials/footer.ejs') %>
